build
build/**

realty-client/node_modules
realty-client/app/vendor
realty-client/tmp

*.iml
*.iws

.gradle
.idea

realty-web/src/main/webapp/view
realty-client/test/rent4/webpack/src/bundle.js
realty-client/build-js/*

logs/*