<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="classpath:dao.xml"/>
    <import resource="classpath:service.xml"/>
    <context:component-scan base-package="bynull.realty"/>
    <tx:annotation-driven transaction-manager="txManager"/>

    <!--<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">-->
    <!--<property name="driverClass" value="${jdbc.driverClass}"/>-->
    <!--<property name="jdbcUrl" value="${jdbc.url}"/>-->
    <!--<property name="username" value="${jdbc.username}"/>-->
    <!--<property name="password" value="${jdbc.password}"/>-->
    <!--</bean>-->

    <beans profile="local">
        <context:property-placeholder location="classpath*:local-config.properties"/>

        <bean id="esConfig" class="bynull.realty.config.ESConfig">
            <property name="dbJdbcUrl" value="${jdbc.url}"/>
            <property name="dbUsername" value="${jdbc.username}"/>
            <property name="dbPassword" value="${jdbc.password}"/>
            <property name="index" value="dev_local_fb_posts"/>
            <property name="type" value="dev_local_fb_posts"/>
            <property name="river" value="dev_local_river"/>
        </bean>

        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
            <property name="driverClass" value="${jdbc.driverClass}"/>
            <property name="jdbcUrl" value="${jdbc.url}"/>
            <property name="user" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>
            <property name="initialPoolSize" value="2"/>
            <property name="minPoolSize" value="2"/>
            <property name="maxPoolSize" value="10"/>
            <property name="maxIdleTime" value="30"/>
        </bean>

        <bean id="appConfig" class="bynull.realty.config.Config">
            <property name="vkRedirectURL" value="http://localhost:8888/dev"/>
            <property name="s3Folder" value="dev_local"/>
            <property name="esConfig" ref="esConfig"/>
        </bean>
    </beans>

    <beans profile="dev">
        <context:property-placeholder location="classpath*:config.properties"/>

        <bean id="esConfig" class="bynull.realty.config.ESConfig">
            <property name="dbJdbcUrl" value="${jdbc.url}"/>
            <property name="dbUsername" value="${jdbc.username}"/>
            <property name="dbPassword" value="${jdbc.password}"/>
            <property name="index" value="dev_fb_posts"/>
            <property name="type" value="dev_fb_posts"/>
            <property name="river" value="dev_river"/>
        </bean>

        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
            <property name="driverClass" value="${jdbc.driverClass}"/>
            <property name="jdbcUrl" value="${jdbc.url}"/>
            <property name="user" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>
            <property name="initialPoolSize" value="2"/>
            <property name="minPoolSize" value="2"/>
            <property name="maxPoolSize" value="10"/>
            <property name="maxIdleTime" value="30"/>
        </bean>

        <bean id="appConfig" class="bynull.realty.config.Config">
            <property name="vkRedirectURL" value="http://dev.rent4.me"/>
            <property name="s3Folder" value="dev"/>
            <property name="esConfig" ref="esConfig"/>
        </bean>
    </beans>

    <beans profile="prod">
        <context:property-placeholder location="classpath*:prod_config.properties"/>

        <bean id="esConfig" class="bynull.realty.config.ESConfig">
            <property name="dbJdbcUrl" value="${jdbc.url}"/>
            <property name="dbUsername" value="${jdbc.username}"/>
            <property name="dbPassword" value="${jdbc.password}"/>
            <property name="index" value="prod_fb_posts"/>
            <property name="type" value="prod_fb_posts"/>
            <property name="river" value="prod_river"/>
        </bean>

        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
            <property name="driverClass" value="${jdbc.driverClass}"/>
            <property name="jdbcUrl" value="${jdbc.url}"/>
            <property name="user" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>
            <property name="initialPoolSize" value="2"/>
            <property name="minPoolSize" value="2"/>
            <property name="maxPoolSize" value="10"/>
            <property name="maxIdleTime" value="30"/>
        </bean>

        <bean id="appConfig" class="bynull.realty.config.Config">
            <property name="vkRedirectURL" value="http://rent4.me"/>
            <property name="s3Folder" value="dev"/>
            <property name="esConfig" ref="esConfig"/>
        </bean>
    </beans>

</beans>