<style type="text/css">
    .search-form {
        max-width: 100%;
        margin: 10px auto;
        background-color: #eeeeee;
        padding: 10px;
        border-radius: 10px;
    }

    .rent-form {
        max-width: 100%;
        margin-top: 90px;
        background-color: #eeeeee;
        border: 1px solid #888;
        border-radius: 5px;
        padding: 0px;
    }

    #map-canvas {
        height: 700px;
    }
</style>

<div class="container rent-form">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="flatType" class="col-md-1 control-label">Тип</label>

            <div class="col-md-3">
                <div class="btn-group" id="flatType">
                    <button type="button" class="btn btn-default">Квартира</button>
                    <button type="button" class="btn btn-default">Комната</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="price" class="col-md-1 control-label">Цена</label>

            <div class=input-group" id="price">
                <input type="text" class="form-control">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="rooms" class="col-md-1 control-label">Комнат</label>

            <div class="col-md-11">
                <div class="btn-group" id="rooms">
                    <button type="button" class="btn btn-default">1</button>
                    <button type="button" class="btn btn-default">2</button>
                    <button type="button" class="btn btn-default">3</button>
                    <button type="button" class="btn btn-default">4</button>
                    <button type="button" class="btn btn-default">5</button>
                </div>
            </div>
        </div>

        <p></p>
        <button type="submit" class="btn btn-default">Sign in</button>
    </form>
</div>

<div class="container">
    <div id="map-canvas" class="search-form" ng-init="initializeGoogleMaps()"/>
</div>