<style type="text/css">
    .search-form {
        max-width: 100%;
        margin: 10px auto;
        background-color: #eeeeee;
        padding: 10px;
        border-radius: 10px;
    }

    #map-canvas {
        height: 700px;
    }
</style>

<div>
    <div ng-include src="'components/rent-search/rent-search-form.html'" ng-controller="RentSearchController"></div>


    <!-- make the search form as dropdown menu -->
    <!--<div class="container rent-form">
        <div class="navbar">
            <div class="navbar-inner">
                <div>
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Поиск <strong
                                        class="caret"></strong></a>

                                <div class="dropdown-menu">
                                    <div ng-include src="'components/rent-search/rent-search-form.html'"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->


    <div class="container">
        <div id="map-canvas" class="search-form" ng-init="initializeGoogleMaps()"/>
    </div>
</div>