@import url(http://fonts.googleapis.com/css?family=Roboto:400);

.navbar-default .dropdown-menu {
    background-color: #ffffff;
}

.navbar-default .dropdown-menu li > a {
    padding-left: 30px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #dadada;
}

/* end theme */

/* template layout*/
#subnav {
    position: fixed;
    width: 100%;
}

@media (max-width: 768px) {
    #subnav {
        padding-top: 6px;
    }
}

#main {
    padding-top: 120px;
}

/*fix google autocomplete container for modal's*/
.pac-container {
    z-index: 1051 !important;
}

.badge-notification {
    background-color: #CB4437 !important;
}

.badge-metro {
    background-color: #D9EDF7;
    border-bottom-color: #BCE8F1;
    color: #31708F;
}

/* Rent4.me settings */
.bordered-element {
    border: 1px #e4e4e4 solid;
    padding: 15px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .9);
}

.modal {
    position: absolute;
}

Modal {
    position: absolute;
}

.Modal {
    position: absolute;
}




.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}

.row-table > [class*="col-"] {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
}

.noBorderRadius {
    border-radius: 0 !important;
}

.table-borderless td,
.table-borderless th {
    border: 0 !important;
}

.comment-group-item {
    border: 1px solid rgba(242, 201, 201, 0.16) !important;
}