@import url(http://fonts.googleapis.com/css?family=Roboto:400);

/**
* Dropzone
*/
/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dropzone {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: rgba(0, 0, 0, 0.02);
    padding: 1em;
}

.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span {
    cursor: pointer;
}

.dropzone.dz-clickable * {
    cursor: default;
}

.dropzone .dz-message {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.dropzone.dz-drag-hover {
    border-color: rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.04);
}

.dropzone.dz-started .dz-message {
    display: none;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    display: inline-block;
    margin: 17px;
    vertical-align: top;
    border: 1px solid #acacac;
    padding: 6px 6px 6px 6px;
}

.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
    display: none;
}

.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
    width: 100px;
    height: 100px;
    position: relative;
    background: #ebebeb;
    padding: 5px;
    margin-bottom: 22px;
}

.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
    overflow: hidden;
    height: 100%;
}

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
    position: absolute;
    bottom: -28px;
    left: 3px;
    height: 28px;
    line-height: 28px;
}

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
    display: block;
}

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
    display: block;
}

.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
    display: none;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    right: -10px;
    top: -10px;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
    color: #8cc657;
}

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
    color: #ee162d;
}

.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
    position: absolute;
    top: 100px;
    left: 6px;
    right: 6px;
    height: 6px;
    background: #d7d7d7;
    display: none;
}

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: #8cc657;
}

.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
    display: block;
}

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
    display: none;
    position: absolute;
    top: -5px;
    left: -20px;
    background: rgba(245, 245, 245, 0.8);
    padding: 8px 10px;
    color: #800;
    min-width: 140px;
    max-width: 500px;
    z-index: 500;
}

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
    display: block;
}


/**
* my
*/
.clickable {
    cursor: pointer;
}

/*for autocomplete*/
.react-autocomplete-Autocomplete {
    /*width: 50%;*/
}

.react-autocomplete-Autocomplete__search {
    border: 1px solid #aaa;
    padding: 5px;
}

.react-autocomplete-Autocomplete__search:focus {
    outline: none;
}

.react-autocomplete-Autocomplete__results {
    background: white;
    border: 1px solid #aaa;
    border-top: none;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow: auto;
    z-index: 1000;
}

.react-autocomplete-Result {
    margin: 0 !important;
    padding: 5px 10px;
}

.react-autocomplete-Result--active {
    background: #fafafa;
}

/**
* index.css
*/
.navbar-default .dropdown-menu {
    background-color: #ffffff;
}

.navbar-default .dropdown-menu li > a {
    padding-left: 30px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #dadada;
}

/* end theme */

/* template layout*/
#subnav {
    position: fixed;
    width: 100%;
}

@media (max-width: 768px) {
    #subnav {
        padding-top: 6px;
    }
}

#main {
    padding-top: 120px;
}

/*fix google autocomplete container for modal's*/
.pac-container {
    z-index: 1051 !important;
}

.badge-notification {
    background-color: #CB4437 !important;
}

.badge-metro {
    background-color: #D9EDF7;
    border-bottom-color: #BCE8F1;
    color: #31708F;
}

/* Rent4.me settings */
.bordered-element {
    border: 1px #e4e4e4 solid;
    padding: 15px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .9);
}

.modal {
    position: absolute;
}

Modal {
    position: absolute;
}

.Modal {
    position: absolute;
}




.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}

.row-table > [class*="col-"] {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
}

.noBorderRadius {
    border-radius: 0 !important;
}

.table-borderless td,
.table-borderless th {
    border: 0 !important;
}

.comment-group-item {
    border: 1px solid rgba(242, 201, 201, 0.16) !important;
}