<style type="text/css">
    html, body {
        height: 100%;
    }

    .carousel {
        height: 100%;
    }

    .item, .active {
        height: 100%;
    }

    .carousel-caption {
        margin: 80px auto;
    }

    .btn-navbar-transparent {
        color: #ffffff;
        margin-top: 6px;
        padding-top: 8px;
        padding-bottom: 6px;
        background-color: rgba(255, 255, 255, .25);
        border-color: #f3f5f5;
        -webkit-transition: 0.2s linear;
        -moz-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        -ms-transition: 0.2s linear;
        transition: 0.2s linear;
    }

    .btn-navbar-transparent:hover {
        color: #ffffff;
        opacity: 1;
        background-color: rgba(255, 255, 255, .5);
        border-color: #f3f5f5;
    }
</style>


<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-controller="IndexController">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item {{imgData.isActive}}" ng-repeat="imgData in carouselData">
            <img ng-src="{{imgData.img}}" alt="...">

            <div class="container">
                <div class="carousel-caption">
                    <h1>{{imgData.header}}</h1>
                    <br/><strong>{{imgData.text}}</strong>

                    <p></p>
                    <a class="btn btn-lg btn-primary" href="#" role="button" data-toggle="modal" data-target="#myModal">Быть
                        в курсе</a>
                </div>

            </div>
        </div>
    </div>

    <!-- Controls -->
    <span class="left carousel-control" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><h3>Скоро открытие!</h3></h4>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Мы будем уведомлять вас о новых событиях:</h5>

                    <form action="//rent4.us8.list-manage.com/subscribe/post?u=0a209f5f0573bb38236e00eb5&amp;id=df5a96106d"
                          method="post" name="mc-embedded-subscribe-form"
                          target="_blank">

                        <div class="form-group">
                            <input type="email" value="" name="EMAIL" class="form-control" placeholder="E-mail">
                        </div>

                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_0a209f5f0573bb38236e00eb5_df5a96106d" tabindex="-1" value="">
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Подписаться" name="subscribe" id="mc-embedded-subscribe"
                                   class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
