<style>
    .rent-component {
        max-width: 100%;
        margin-top: 120px;
        padding: 0px;

    }
</style>

<div class="bs-docs-header rent-component">
    <div ng-controller='RentController' class="container">
        <form name="rentForm" ng-submit="putForRent()">

            <div class="row">
                <div class="form-group">
                    <div class="col-md-1"><label for="city">Город:</label></div>
                    <div class="col-md-4">
                        <input id="city" class="form-control" type="text" placeholder="Город" ng-model="rentData.city">
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-1"><label for="street_address">Улица:</label></div>
                    <div class="col-md-4">
                        <input id="street_address" class="form-control" placeholder="Улица" type="text"
                               ng-model="rentData.address">
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-1"><label for="house">Дом:</label></div>
                    <div class="col-md-4">
                        <input id="house" class="form-control" type="text" placeholder="Дом" ng-model="rentData.house">
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-1"><label for="floor">Этаж:</label></div>
                    <div class="col-md-4">
                        <input id="floor" class="form-control" type="text" placeholder="Этаж" ng-model="rentData.floor">
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-1"><label for="rent_period">Срок аренды:</label></div>
                    <div class="col-md-4">
                        <input id="rent_period" class="form-control" type="text" placeholder="Срок аренды"
                               ng-model="rentData.rentPeriod">
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-1"><label for="description">Описание:</label></div>
                    <div class="col-md-4">
                        <textarea id="description" class="form-control" placeholder="Описание"
                                  ngModel="rentData.description"></textarea>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-1 col-md-offset-1">
                        <input type="submit" class="btn btn-primary" value="Выставить объявление">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>