<style type="text/css">
    /*html, body {
        height: 100%;
    }

    .carousel, .item, .active {
        height: 100%;
    }

    .carousel-inner {
        height: 100%;
    }*/

    .email-sign-up {
        max-width: 900px;
        margin: 40px auto;
        background-color: #eeeeee;
        padding: 20px;
        border-radius: 10px;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-controller="IndexController">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item {{imgData.isActive}}" ng-repeat="imgData in carouselData">
            <img ng-src="{{imgData.img}}" alt="...">

            <div class="carousel-caption">
                <h2>{{imgData.header}}</h2>
                <br/>{{imgData.text}}
            </div>
        </div>
    </div>

    <!-- Controls -->
    <span class="left carousel-control" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </span>
    <span class="right carousel-control" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
</div>

<!-- Begin MailChimp Signup Form -->
<!--<div class="email-sign-up">
    <h3>Скоро открытие!</h3>
    <h5>Будьте в числе первых:</h5>

    <form action="//rent4.us8.list-manage.com/subscribe/post?u=0a209f5f0573bb38236e00eb5&amp;id=df5a96106d"
          method="post" name="mc-embedded-subscribe-form"
          target="_blank">

        <div class="form-group">
            <input type="email" value="" name="EMAIL" class="form-control" placeholder="E-mail">
        </div>

        <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_0a209f5f0573bb38236e00eb5_df5a96106d" tabindex="-1" value="">
        </div>

        <div class="form-group">
            <input type="submit" value="Подписаться" name="subscribe" id="mc-embedded-subscribe"
                   class="btn btn-primary">
        </div>
    </form>
</div>-->

