rrr {
    display: block;
}

.header__cards {
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: block;
}

.header__card {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 230px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 6px;
    border-radius: 2px;
}

.header__card__title {
    font-weight: bold;
    font-size: 19px;
    padding: 22px 10px 10px 10px;
    background: #fff;
    height: 50px;
    white-space: nowrap;
    transition: background 200ms;
    color: #000;
}

.header__card__desc {
    padding: 5px 20px;
    background: #fff;
    font-size: 13px;
    height: 70px;
    transition: background 200ms;
    line-height: 17px;
    color: #000;
}

.header__card_pict {
    height: 170px;
    width: 100%;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 0;
    position: relative;
}