<div ng-controller='RentController'>
    <form ng-submit="putForRent()">
        Город: <input type="text" ng-model="greeting">
        <br/>
        Улица: <input type="text" ng-model="greeting">
        <br/>
        Дом: <input type="text" ng-model="greeting">
        <br/>
        Этаж: <input type="text" ng-model="greeting">
        <br/>
        Срок аренды: <input type="text" ng-model="greeting">
        <br/>
        Описание: <textarea></textarea>
        <br/>
        <input type="submit" value="Выставить объявление">
    </form>
</div>
