<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="classpath:dao.xml"/>
    <!--NB! scheduler excluded from here so it won't run jobs-->
    <import resource="classpath:service.xml"/>
    <import resource="classpath:profiles.xml"/>
    <context:component-scan base-package="bynull.realty"/>
    <tx:annotation-driven transaction-manager="txManager"/>

    <mvc:annotation-driven/>
    <mvc:resources mapping="/static/**" location="/static/"/>

    <context:property-placeholder location="classpath*:config.properties"/>
    <context:annotation-config/>
    <context:component-scan base-package="name.dargiri.web"/>

    <!--<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource">-->
        <!--<property name="driverClass" value="${jdbc.driverClass}"/>-->
        <!--<property name="jdbcUrl" value="${jdbc.url}"/>-->
        <!--<property name="username" value="${jdbc.username}"/>-->
        <!--<property name="password" value="${jdbc.password}"/>-->
    <!--</bean>-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="order" value="1"/>-->
        <property name="prefix" value="/WEB-INF/views/jsps/"/>
        <property name="suffix" value=".jsp"/>
        <property name="contentType" value="text/html; charset=utf-8"/>
    </bean>

    <beans profile="prod">
        <import resource="classpath:scheduler.xml"/>
    </beans>

    <!--<bean class="org.fusesource.scalate.spring.view.ScalateViewResolver">-->
        <!--<property name="order" value="1"/>-->
        <!--<property name="prefix" value="/WEB-INF/views/scalate/" />-->
        <!--<property name="suffix" value=".ssp" />-->
        <!--<property name="contentType" value="text/html; charset=utf-8"/>-->
    <!--</bean>-->
</beans>