<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd




       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd

       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <security:debug/>
    <security:global-method-security pre-post-annotations="enabled"/>
    <mvc:annotation-driven/>
    <context:annotation-config/>
    <!--<context:component-scan base-package="hellomobile"/>-->
    <!--<aop:aspectj-autoproxy/>-->

    <!--AdminConfig-->

    <security:http auto-config="true">
        <security:intercept-url pattern="/secure/**" access="ROLE_ADMIN,ROLE_LIMITED_ADMIN"/>
        <security:form-login login-page="/login" default-target-url="/secure/people"
                             authentication-failure-url="/loginfailed"/>
        <security:logout logout-success-url="/logout"/>
        <!--<security:form-login login-page="/pages/login.jsp"/>-->
        <security:session-management>
            <security:concurrency-control max-sessions="1"/>
        </security:session-management>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="dionis@rent4.me" authorities="ROLE_ADMIN" password="p1s3ia03doa93"/>
                <security:user name="bynull@rent4.me" authorities="ROLE_ADMIN" password="323k30askp031a037"/>
                <security:user name="trierra@rent4.me" authorities="ROLE_ADMIN" password="923ljhj923"/>

            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>


</beans>
