<style>
    .login-form {
        margin-top: 100px;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        background-color: #eeeeee;
        padding: 20px;
        border-radius: 10px;
    }
</style>
<div ng-controller='LoginController' class="login-form">
    <form method="post" ng-submit="login()">
        <div class="form-group">
            <!--<label for="city">Город:</label>-->
            <input id="username" class="form-control" type="text" placeholder="Имя пользователя">
        </div>
        <div class="form-group">
            <!--<label for="street_address">Улица:</label>-->
            <input id="password" class="form-control" placeholder="Пароль" type="password">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Вход">
            <a href="#/register" class="btn btn-primary">Регистрация</a>
        </div>
    </form>
    <div class="container">
        <a ng-hide="authorized" ng-click="loginWithFacebook()" class="btn btn-primary">Login wth Facebook</a>
        <a ng-hide="authorized" ng-click="loginWithVK()" class="btn btn-primary">Login with VK</a>
        <a ng-show="authorized" ng-click="logout()" class="btn btn-primary">Logout</a>
    </div>
</div>
